<div class="view">
  <app-header title="Cuiz.in"></app-header>
  <div class="wrapper">
    <section></section>
    <section></section>
    <section>
      <img class="image" src="../Home/Images/My big burger.jpeg">

      <div class="informations_generales_plat">
        <a class="nom_du_plat">Plat <img class="vegetarien" src="../../../assets/icons/feuille.svg"></a>
      </div>

      <div class="bas_de_la_page">
        <div class="informations_precises">
          <p> <img class="temps" src="../../../assets/icons/clock.svg"> 30 ans </p>
          <p> <img class="nombre_personne" src="../../../assets/icons/account.svg"> 30 </p>
          <p> <img class="energie" src="../../../assets/icons/energy.svg"> 1 0000 000 kcal. </p>
        </div>

        <div class="likes">
          <img class="coeur" src="../../../assets/icons/heart-red.svg">
          <p class="nombre_likes">87889</p>
        </div>
      </div>
    </section>
  </div>
</div>