<div class="view">
  <div class="rectangle1">
    <div class="rectangle1_texte">
      <h1 class="titre">Cuiz.in</h1>
      <div class="slogan">Vous n'aimez pas faire la cuisine ?<div class="join_us">Essayez Cuiz.in</div>
      </div>
    </div>
  </div>

  <div class="rectangle2">
    <div class="third-parties">
      <a href="#" id="googleLogo"> <img draggable="false" alt="Login with google" src="../../../assets/icons/google.svg"> </a>
      <a href="#" id="fbLogo"><img draggable="false" alt="Login with facebook" src="../../../assets/icons/fb.svg"> </a>
    </div>

    <div class="rectangle2_texte">
      <div class="ou">ou</div>
      <div class="form">
        <div>
          <label class="mail" for="Mail"> Votre e-mail : <br> </label>
          <input class="barre_mail" placeholder="Votre e-mail" type="email" id="Mail" name="Mail" [(ngModel)]="email">
        </div>

        <div>
          <label class="mdp" for="Mot de passe"> Mot de passe : <br> </label>
          <input class="barre_mdp" placeholder="Mot de passe" type="password" id="Mot de passe" name="Mot de passe" [(ngModel)]="password">
        </div>

        <div>
          <input class="bouton" type="submit" value="Allons-y !" [disabled]="!email || !password || !email.length || !password.length" (click)="onSubmit()">
        </div>
      </div>
    </div>
  </div>