/**
Principe d'imbrication en blocks, on peut mettre un selecteur avec des {} à l'intérieur d'un element. Grace à ca on sélectionne l'élement
enfant :
    div > img {} équivaut à div {
        img {

        }
    }
L'avantage est que tout est imbriqué et donc plus claire et concis
**/
body {
  background-color: #f1f6f6;
  margin: 0 18px;
}
.grandtitre {
  display: block;
  flex-direction: row;
  margin-bottom: 19px;

  img {
    margin-top: -30px;
    float: right;
  }
}

.titre {
  display: block;
  font-family: montserrat;
  font-weight: bold;
  color: rgb(205, 116, 116);
  font-size: 30px;
  margin-top: 20px;
}