/**
Principe d'imbrication en blocks, on peut mettre un selecteur avec des {} à l'intérieur d'un element. Grace à ca on sélectionne l'élement
enfant :
    div > img {} équivaut à div {
        img {

        }
    }
L'avantage est que tout est imbriqué et donc plus claire et concis
**/
body {
  background-color: #f1f6f6;
  margin: 0 18px;
}

.nothing {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @keyframes weed_anim {
    0%{
      animation-timing-function: cubic-bezier(.98,.24,.77,.21);
      transform: translateY(0px);
    }
    50%{
      animation-timing-function: cubic-bezier(.24,.92,.29,.88);
      transform: translateY(15px) rotateZ(180deg);
    }
    100%{
      transform: translateY(0px) rotateZ(360deg);
    }
  }
  img {
    animation-timing-function: cubic-bezier(.24,.92,.29,.88);
    width:30px;
    animation: weed_anim 1s infinite;
  }
  label {
    display: block;
  }
  .calm {
    margin-top: 10px;
    font-size: 15px;
    font-family: regular;
  }
  .discover {
    margin-top: 20px;
  }
}