<div class="view">
  <div class="grandtitre">
    <span class="titre">Recettes</span>
    <img alt="Rechercher" draggable="false" srcset="../../../assets/icons/search.svg">
  </div>

  <app-recipe *ngFor="let recipe of client.recipes" [recipe]="recipe" [index]="client.recipes.indexOf(recipe)" [delayAnimation]="!initialized"></app-recipe>
  <div *ngIf="!client.recipes.length" class="nothing">
    <img draggable="false" src="../../../assets/tumbleweed.svg" />
    <label class="calm">
      C'est trop calme...
    </label>
    <button class="discover" mat-stroked-button color="accent" [routerLink]="'/home'" >Découvrir des recettes</button>
  </div>
</div>