<div class="view">
  <div class="grandtitre">
		<app-header title="Mon Compte"></app-header>
		<div class="name">
			Bonjour, {{ name }}
		</div>
  </div>

	<div class="frame">
		<app-input-field inputType="text" label="Prénom, Nom" [value]="name" type="name"></app-input-field>
		<app-input-field inputType="email" label="Email" [value]="mail" type="email"></app-input-field>
	</div>

	<div class="frame frame-button" (click)="changePassword()" matRipple [matRippleColor]="$any('rgba(205, 117, 117, 0.308)')">
		<button>Changer mon mot de passe</button>
		<mat-icon aria-label="Edit Password" [ngStyle]="{'color':'#CD7575'}">edit</mat-icon>
	</div>

	<div class="frame frame-button disconnect-button" (click)="disconnect()" matRipple [matRippleColor]="$any('rgba(205, 117, 117, 0.308)')">
		<button>Déconnexion</button>
		<mat-icon aria-label="Disconnect">logout</mat-icon>
	</div>
</div>