<div class="view">
  <div class="grandtitre">
		<span class="titre">Mon compte</span>
		<div class="name">
			Bonjour, {{ name }}
		</div>
  </div>

	<div class="frame">
		<app-input-field inputType="text" label="Prénom, Nom" [value]="name" type="name"></app-input-field>
		<app-input-field inputType="email" label="Email" [value]="mail" type="email"></app-input-field>
	</div>

	<div class="frame frame-button" (click)="changePassword()">
		<button>Changer mon mot de passe</button>
		<mat-icon aria-label="Edit Password" [ngStyle]="{'color':'#CD7575'}">edit</mat-icon>
	</div>
</div>