.frame {
  border-radius: 20px;
  background-color: white;
  padding: 8px;
  margin-left: 20px;
	text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .03);
}

h2 {
  font-size: 30px;
	display: block;
	margin: 0;
  margin: 20px 0 10px 20px;
  font-family: montserrat;
  color: #CD7575;
}

.name {
  font-size: 17.9px;
  display: block;
  margin-bottom: 12.22px;
  margin-left: 20.49px;
  font-family: light;
  color: #6B6B6B;
}