.frame {
  border-radius: 20px;
  background-color: white;
  padding: 8px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, .03);
	margin-top: 20px;

}
.frame-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
  cursor: pointer;
  font-family: Roboto;
	button {
    font-size: 16px;
	}
}
.grandtitre {
  display: block;
  flex-direction: row;
  .titre {
    display: block;
    font-family: montserrat;
    font-weight: bold;
    color: rgb(205, 116, 116);
    font-size: 30px;
    margin-top: 20px;
  }
  .name {
    margin-top: 30px;
    margin-left: 2px;
    font-size: 19px;
    display: block;
    font-family: light;
    color: #6B6B6B;
    margin-bottom: 13px;
  }
}

app-input-field:first-child {
  margin-top: 1.25em;
  display: block;
}
