div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    span {
        margin-top: 5px;
        font-size: 14px;
    }
    .focus {
        display: none;
    }
    &.selected {
        color: #CD7575;
        img:not(.focus) {
            display: none;
        }
        .focus {
            display: inline;
        }
    }
}