div {
    padding-top: 3px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    span {
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
    }
    & img:nth-child(2) {
        display: none;
    }
    &.selected {
        color: #CD7575;
        & img:nth-child(1) {
            display: none;
        }
        & img:nth-child(2) {
            display: inline;
        }
    }
}