.recette {

  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  opacity: 0;
  animation: enter forwards .3s ease-out;

  box-shadow: 0 0 5px rgba(0, 0, 0, .03);
  border-radius: 5.2vw;
  background-color: white;
  padding: 2vw;
  margin-bottom: 3.9vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /**
        Justify-content permet d'aligner selon l'axe 'principal', celui que tu as dit en paramétrant flex-direction
        align-items permet d'aligner selon l'axe 'oposé', vertical si tu as dit horizontal avec flex-direction, ou vice-versa 
    **/

  .titrerecette {
    font-size: 5.6vw;
    margin-bottom: 1.3vw;
  }

  .infos {
    display: flex;
    flex-direction: column;
    font-family: light;
    width: 40%;
    img {
      min-width: 5.1vw;
      max-width: 5.1vw;
    }
    div {
      align-items: center;
      display: flex;
    }
    span:not(.titrerecette) {
      color: #676767;
      left: 5%;
      bottom: 5%;
      font-size: 2.6vw;
      /*line-height: 0.01cm;*/
    }
    .personnes {
      display: flex;
      flex-direction: row;
      margin: 1vw 0;
    }
    .heure {
      display: flex;
      flex-direction: row;
      div, span {
        display: block;
      }
      div {
        width: 100%;
      }
    }
    span {
      width: 100%;
    }
  }

  .img_recette {
    width: 50%;
    overflow: hidden;
    height: fit-content;
    img {
      border-radius: 4.5vw;
      width: 100%;
      height: auto;
    }
  }

  &.el2 {
    flex-direction: row-reverse;
    .infos {
      margin-left: 10px;
      img {
        margin-right: 10px;
      }
      div span, .heure div {
        order: 1;
      }
    }
  }
  &.el1 {
    text-align: right;
    .infos {
      margin-right: 10px;
      img {
        margin-left: 10px;
      }
    }
  }
}
