/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "montserrat";
  src: url(assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "regular";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "light";
  src: url(assets/fonts/Montserrat-Light.otf);
}

body {
  background-color: #e2f3f5;
  color: #676767;
  margin: 0;
}
.view {
  display: block;
  padding: 0 18px;
}
