/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "montserrat";
  src: url(assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "regular";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "light";
  src: url(assets/fonts/Montserrat-Light.otf);
}

html {
  overflow-behavior: contain;
}
body {
  color: #676767;
  background: #3e3636;
  margin: 0;
}
.view {
    display: block;
    padding: 0 18px;
}
.withbottombar {
  .view {
    height: calc(100vh - 56px);
    overflow: auto;
  }
}

@media(min-width: 500px) {
  .withbottombar {
    .view {
      height: calc(90vh - 56px);
      overflow: auto;
    }
  }
}

@function get-vws($howmany) {
  @return calc(#{$howmany} * min(1vw, 5px));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
